[Unit]
Description=this is to start the docker date container
After=network.target

[Service]
Type=simple
ExecStart=/etc/init.d/dockerstartup.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
